# Importing data form Excel Sheet

In [3]:
import pandas as pd

df= pd.read_excel("data/mujib_data_final.xlsx", sheet_name=["final"])["final"][:]

df.head()

,Unnamed: 0,Context No,Context,ContextQuesNo,Q1,Q2,Q3,Q4,Exact Answer,Answer,...,T2,L1,L2,P1,P2,P3,Event,Date,Year,Mujib Relevant
0,1,1,১৯৭০ সালের ১২ নভেম্বর পূর্ব-বাংলায় ভয়াবহ ঝড...,1.0,পূর্ব বাংলায় ১৯৭০ এর ঝড়ে কত মানুষ মারা যায় ?,১৯৭০ এর ঝড়ে কত মানুষ বাংলাদেশ মারা যায়?,কত মানুষ ১৯৭০ এ মারা যায় ?,NaN,১০ লাখ মানুষ,১৯৭০ এর ঝড়ে ১০ লাখ মানুষ মারা যায় এই বাংলায় ।,...,ইতিহাস,NaN,পূর্ব বাংলা,NaN,NaN,NaN,জলোচ্ছ্বাস,1970-12-11 00:00:00,1970,NO
1,2,NaN,NaN,2.0,১৯৭০ এ শেখ মুজিব নির্বাচনী প্রচারনা বন্ধ করেন ...,১৯৭০ এ বঙ্গবন্ধু নির্বাচনী প্রচরনা বন্ধ করেন কেন?,,,প্রাকৃতিক দুর্যোগ এর জন্য,বঙ্গবন্ধু তার নির্বাচনি প্রচারণা স্থগিত করেন প...,...,ইতিহাস,NaN,পূর্ব বাংলা,NaN,NaN,NaN,জলোচ্ছ্বাস,NaN,1970,YES
2,3,NaN,NaN,3.0,কেন ১৯৭০ সালে ১০ লাখ মানুষ মারা যায় ?,NaN,NaN,NaN,প্রাকৃতিক দুর্যোগ এর জন্য,১৯৭০ সালে পূর্ব-বাংলায় ভয়াবহ ঝড় এবং জলোচ্ছ্...,...,ইতিহাস,NaN,পূর্ব বাংলা,NaN,NaN,NaN,জলোচ্ছ্বাস,1970-12-11 00:00:00,1970,NO
3,4,2,১৯৫৩ সালের নভেম্বর মাসে তৎকালীন প্রধান বিরোধী...,1.0,কত সালে 'পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগ এ...,বঙ্গবন্ধু শেখ মুজিবুর রহমান কত সালে 'পূর্ব পা...,বঙ্গবন্ধু 'পূর্ব পাকিস্তান আওয়ামী মুসলিম লী...,NaN,১৯৫৩ সালের নভেম্বর মাসে,পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগ' এর অধিবেশনে...,...,পূর্বপাকিস্তান আওয়ামী মুসলিম লীগ যোগদান,NaN,পূর্ব বাংলা,NaN,NaN,NaN,যুক্তফ্রন্ট গঠন,NaN,1953,YES
4,5,NaN,NaN,2.0,পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগের অধিবেশন ক...,পূর্ব পাকিস্তান মুসলিম লীগের অধিবেশন কতসালে অন...,NaN,NaN,১৯৫৩ সাালে,বঙ্গবন্ধু শেখ মুজিবুর রহমান দেশজুড়ে যুক্তফ্রন্...,...,রাজনীতিতে অণুপ্রবেশ,NaN,পূর্ব বাংলা,NaN,NaN,NaN,যুক্তফ্রন্ট গঠন,NaN,1953,YES

In [15]:
print("="*10+" Data Fields in Dataset "+"="*10)
print()
for i,data_field in enumerate(df.columns[1:]):
    
    print(f"         {(i+1)}. {data_field}")

========== Data Fields in Dataset ==========

         1. Context No
         2. Context
         3. ContextQuesNo
         4. Q1
         5. Q2
         6. Q3
         7. Q4
         8. Exact Answer
         9. Answer
         10. T1
         11. T2
         12. L1
         13. L2
         14. P1
         15. P2
         16. P3
         17. Event
         18. Date
         19. Year
         20. Mujib Relevant

# Creating `json` file

### Taking the `Contexts` and dropping null values

In [18]:
context = df['Context']

In [21]:
context = df['Context'].dropna()

In [22]:
context

0       ১৯৭০ সালের ১২ নভেম্বর পূর্ব-বাংলায় ভয়াবহ ঝড...
3      ১৯৫৩ সালের নভেম্বর মাসে তৎকালীন প্রধান বিরোধী...
15     ১৯৫৪  সালের মার্চ মাসে প্রদেশিক পরিষদের সাধারণ...
30     ১৯৫৫ সালে  পাকিস্তান গণপরিষদের সদস্য নির্বাচিত...
40     ১৯৫৬ সালে পূর্ব পাকিস্তানে আওয়ামী লীগের নেতৃত্...
                             ...
381    ১৯৫২ সালের ২১ ফেব্রুয়ারি রাষ্ট্রভাষা বাংলার দ...
391    ১৯৭৫ সালের ১৫ আগস্ট স্বাধীনতা বিরোধী প্রতিক্রি...
400    ১৯৭৪ সালের ২৫ সেপ্টেম্বর প্রথম বাঙালি নেতা হিস...
405    ১৯৭২সালের ৪ নভেম্বর, স্বাধীনতা অর্জনের এক বছরে...
413    ১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শ...
Name: Context, Length: 61, dtype: object

### Converting the `Contexts` into `list`

In [24]:
ctx_lst = context.tolist()

### Converting `context_index` into `list`

In [30]:
ctx_index = context.keys().tolist()

In [38]:
print()
print(f"context : {ctx_lst[1]} " )
print(f"context id: {ctx_index[1]}")

context : ১৯৫৩ সালের নভেম্বর মাসে তৎকালীন প্রধান বিরোধী দল 'পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগ' এর অধিবেশনে দলের সাধারণ সম্পাদক নির্বাচিত হন বঙ্গবন্ধু শেখ মুজিবুর রহমান। ৫ ডিসেম্বর আওয়ামী লীগের নেতৃত্বে অন্যান্য বিরোধী দলকে সঙ্গে নিয়ে গঠিত হয় যুক্তফ্রন্ট। দেশজুড়ে প্রচারণা শুরু করেন বঙ্গবন্ধু।
context id: 3

### Taking the `Q1`s

In [26]:
first_question = df['Q1']

len(first_question)

422

In [28]:
first_question[:10]

0         পূর্ব বাংলায় ১৯৭০ এর ঝড়ে কত মানুষ মারা যায় ?
1    ১৯৭০ এ শেখ মুজিব নির্বাচনী প্রচারনা বন্ধ করেন ...
2                কেন ১৯৭০ সালে ১০ লাখ মানুষ মারা যায় ?
3     কত সালে 'পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগ এ...
4    পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগের অধিবেশন ক...
5    ১৯৫৩ সালে বঙ্গবন্ধু কোন দলের সাধারন সম্পাদক নি...
6    ১৯৫৩ সালের কোন মাসে পূর্বপাকিস্তান আওয়ামী মুসল...
7                   তৎকালীন পধান বিরোধী দল কোনটি ছিলো?
8    পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগ দলের কোন পদ...
9    পূর্ব পাকিস্তান আওয়ামী মুসলিম লীগ কোন ধরণের দ...
Name: Q1, dtype: object

In [40]:
ques_index = first_question.keys().tolist()

### Binding `Contexts` to `Questions`

In [41]:
ctx_q1 = []
for i in range(len(ctx_index)-1):
    for j in range(len(ques_index)):

        if ctx_index[i] == j:
            ques = []
            k = j

            while k < ctx_index[i+1]:
                ques.append(first_question[k])
                k = k+1

    ctx_q1.append({
        'context': context[ctx_index[i]],
        'questions': ques
    })

In [ ]:


"""
datetime type for converting 
datetime object to stirng as 
json dosn't allow datetime object 
insertion

"""
import datetime


date_time_type = type(datetime.datetime.now())

## Full Dataframe Generation 

It is a list of dictionaries. It follows the following structure:
```python
    
    'context': context 
    'qas': [{
        'qtns': [list of paraphased questions],
        'exact_answer': exact answer to the question
        'answer': explained answer to the question
        'tags': associated tags to the question
        'data': associated date to the question
        'year': associated year to the question
        'location': associated location to the question
        'people':  associated people to the question
        'event': associated event to the question
        'mujib_relavant': the question is mujib relavant or not


    }
    ...
    ...
    same qas for multiple question from the context
    ...
    ...
    ]
```

In [43]:
full_df = []

for i in range(len(ctx_index)-1):
    for j in range(len(ques_index)):
        if ctx_index[i] == j:
            qas = []
            

            k = j

            while k < ctx_index[i+1]:
                ques = []
                tags = []
                location = []
                people = []
                ques.append(first_question[k])
                ques.append(df['Q2'][k])
                ques.append(df['Q3'][k])
                ques.append(df['Q4'][k])
                tags.append(df['T1'][k])
                tags.append(df['T2'][k])
                location.append(df['L1'][k])
                location.append(df['L2'][k])
                people.append(df['P1'][k])
                people.append(df['P2'][k])
                people.append(df['P3'][k])
                
                if type(df['Date'][k]) == date_time_type :
                        df['Date'][k] = df['Date'][k].strftime("%d-%m-%Y")
                        
                        
                        
                qas.append({
                    'qtns': ques,
                    'exact_answer': df['Exact Answer'][k],
                    'answer': df['Answer'][k],
                    'tags':tags,
                    'date': df['Date'][k],
                    'year': df['Year'][k],
                    'location': location, 
                    'people': people, 
                    'event': df['Event'][k],
                    'mujib_relavant': df['Mujib Relevant'][k]



                }
                )

                k = k+1

    full_df.append({
        'context': context[ctx_index[i]],
        'qas': qas
    })

### Adding last one context

In [57]:
ctx_index[-1] , ques_index[-1]

(413, 421)

In [51]:
j = ctx_index[-1]
qas = []

k = j
while k<=ques_index[-1]: 
    ques = []
    tags = []
    location = []
    people = []
    ques.append(first_question[k])
    ques.append(df['Q2'][k])
    ques.append(df['Q3'][k])
    ques.append(df['Q4'][k])
    tags.append(df['T1'][k])
    tags.append(df['T2'][k])
    location.append(df['L1'][k])
    location.append(df['L2'][k])
    people.append(df['P1'][k])
    people.append(df['P2'][k])
    people.append(df['P3'][k])
    
    if type(df['Date'][k]) == date_time_type :
            df['Date'][k] = df['Date'][k].strftime("%d-%m-%Y")
            
            
            

    qas.append({
        'qtns': ques,
        'exact_answer': df['Exact Answer'][k],
        'answer': df['Answer'][k],
        # 'tags': df['Tags'][k],
        'tags':tags,
        'date': df['Date'][k],
        'year': df['Year'][k],
        'location': location, #changed 
        'people': people, # changed
        'event': df['Event'][k],
        'mujib_relavant': df['Mujib Relevant'][k]



    }
    )

    k = k+1

In [52]:
qas

[{'qtns': ['কত সালে শেখ মুজিবুর রহমানের বিয়ে হয়?',
   'বঙ্গবন্ধু কত সালে বিবাহ বন্ধনে আবদ্ধ হন?',
   'কবে শেখ মুজিব বিয়ে করেন?',
   nan],
  'exact_answer': '১৯৩৮ সালে',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': ['ফজিলাতুন্নেসা', nan, nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['বিয়ের সময় শেখ মুজিবুর রহমানের বয়স কত ছিলো?',
   'বিয়ের সময় বঙ্গবন্ধুর বয়স কত ছিলো?',
   'কয় বছর বয়সে শেখ মুজিব বিয়ে করেন?',
   nan],
  'exact_answer': 'আঠারো',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': ['ফজিলাতুন্নেসা', nan, nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['কার সাথে শেখ মুজিবুর রহমানের বিয়ে হয়?',
   'বঙ্গবন্ধু কার সাথে বিবাহ বন্ধনে আবদ্ধ হয়েছিলেন?',
   'বঙ্গমাতার নাম কি?',
   'শেখ মুজিব কাকে বিয়ে করেছিলেন?'],
  'exact_answer': 'ফজিলাতুন্নেসা',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': ['ফজিলাতুন্নেসা', nan, nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['শেখ মুজিবুর রহমানের কয় সন্তান ছিলো?',
   'শেখ মুজিবের কতজন সন্তান ছিলো?',
   'মুজিবের ছেলেমেয়ে কয়জন?',
   nan],
  'exact_answer': 'পাঁচ',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়। এঁদের সন্তানরা হলেন দুই কন্যা (শেখ হাসিনা, শেখ রেহানা) ও তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': [nan, nan, nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['শেখ মুজিবুর রহমানের কয় ছেলে ছিলো?',
   'মুজিবের কতজন পুত্র সন্তান ছিলো?',
   nan,
   nan],
  'exact_answer': 'তিন',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়। এঁদের সন্তানরা হলেন দুই কন্যা (শেখ হাসিনা, শেখ রেহানা) ও তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': [nan, nan, nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['শেখ মুজিবুর রহমানের কয় মেয়ে ছিলো?',
   'মুজিবের কতজন কন্যা সন্তান ছিলো?',
   nan,
   nan],
  'exact_answer': 'দুই',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়। এঁদের সন্তানরা হলেন দুই কন্যা (শেখ হাসিনা, শেখ রেহানা) ও তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': [nan, nan, nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['শেখ মুজিবুর রহমানের ছেলেমেয়ের নাম কি?',
   'শেখ মুজিবের সন্তানদের নাম কি?',
   'শেখ মুজিবের ছেলে মেয়ে কে কে?',
   nan],
  'exact_answer': 'দুই কন্যা (শেখ হাসিনা, শেখ রেহানা) ও তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়। এঁদের সন্তানরা হলেন দুই কন্যা (শেখ হাসিনা, শেখ রেহানা) ও তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': [nan, nan, nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['শেখ মুজিব রহমানের ছেলেদের নাম কি?',
   'শেখ মুজিবের পুত্র সন্তানদের নাম কি?',
   'শেখ মুজিবের পুত্র কে কে?',
   nan],
  'exact_answer': 'তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়। এঁদের সন্তানরা হলেন দুই কন্যা (শেখ হাসিনা, শেখ রেহানা) ও তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': ['শেখ কামাল', 'শেখ জামাল', 'শেখ রাসেল'],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'},
 {'qtns': ['শেখ মুজিবুর রহমানের মেয়েদের নাম কি?',
   'শেখ মুজিবের কন্যা সন্তানদের নাম কি?',
   'শেখ মুজিবের কন্যা কে কে?',
   nan],
  'exact_answer': 'দুই কন্যা (শেখ হাসিনা, শেখ রেহানা)',
  'answer': '১৯৩৮ সালে আঠার বছর বয়সে ফজিলাতুন্নেসার সাথে শেখ মুজিবু্র রহমানের বিয়ে হয়। এঁদের সন্তানরা হলেন দুই কন্যা (শেখ হাসিনা, শেখ রেহানা) ও তিন পুত্র (শেখ কামাল, শেখ জামাল ও শেখ রাসেল)।',
  'tags': ['পরিচিতি তথ্য', 'ব্যাক্তিগত'],
  'date': nan,
  'year': '১৯৩৮',
  'location': [nan, nan],
  'people': ['শেখ হাসিনা', 'শেখ রেহানা', nan],
  'event': 'পরিবার',
  'mujib_relavant': 'YES'}]

In [53]:
full_df.append(
    {
        'context':context[ctx_index[-1]],
        'qas':qas
    }
)

### Testing for iteration in `data.json`

In [54]:

def find_by_index(index):
    print("Context ->  ",full_df[index]['context'])
    print("\t Question -> ",full_df[index]['qas'][0]['qtns'][0])
    print("\t Answer -> ",full_df[index]['qas'][0]['answer'])

In [55]:
find_by_index(23)

Context ->    ১৯৭১ সালের ২৫ মার্চ পৃথিবীর ইতিহাসের জঘন্যতম গণহত্যা ও নৃশংসতম কালরাত এটি। সাদা পোশাকে গোপনে ঢাকা ছেড়ে চলে যায় পাকিস্তানি স্বৈরাচার জেনারেল ইয়াহিয়া খান। সন্ধ্যার পর থেকেই থমথমে হয়ে ওঠে শহর। পাকিস্তানি সেনাদের সন্দেহজনক গতিবিধি এবং নিজের বাড়িতে জান্তাদের হামলার পরিকল্পনার খবর পাওয়ার পর বঙ্গবন্ধু তার সহকর্মীদের পরবর্তী নির্দেশনা দিয়ে নিরাপদ আশ্রয়ে চলে যাওয়ার নির্দেশ দেন। সহকর্মীরা বঙ্গবন্ধুকেও আত্মগোপনের পরামর্শ দিলে তা প্রত্যাখ্যান করে তিনি বললেন, 'আমি কোথাও যাব না। আমি যদি আত্মগোপন করি, তাহলে ঢাকা শহর থাকবে না। তারা তন্ন তন্ন করে তল্লাশি করবে। বহু বাড়ি-ঘরে ধ্বংসযজ্ঞ ও প্রচুর প্রাণহানি হবে।' কৌশলগত কারণে, পাকিস্তানি বাহিনীর আক্রমণের আগে স্বাধীনতার ঘোষণা দিয়ে বিচ্ছিন্নতাবাদের ধুয়া তুলো বহির্বিশ্বে বাংলাদেশকে নিয়ে অপপ্রচারের সুযোগ দেননি বঙ্গবন্ধু। কিন্তু ঢাকার কয়েকটি স্থান জান্তাদের দ্বারা আক্রান্ত হওয়ার খবর শুনে আর দেরি করলেন না তিনি। সহকর্মীদের নিরাপদ আশ্রয়ে সরে যাওয়ার সুযোগ করে দেওয়ার পর, পূর্ব-পরিকল্পনা অনুসারে সরাসরি বাংলাদেশকে স্বাধীন রাষ্ট্র বলে ঘোষণা করলেন।

	 Question ->  কত তারিখকে কাল রাত্রি বলা হয় ?
	 Answer ->  ১৯৭১ সালের ২৫ মার্চ রাতে পাকিস্তানি বাহিনী কর্তৃক নির্মম গণহত্যায় নিহতদের স্মরণে দিবসটি পালন করা হয়। ২০১৭ সালের ১১ মার্চ জাতীয় সংসদে দিবসটি পালনের সিদ্ধান্ত গৃহীত হয়।

# Dumping into `data.json`

In [56]:
import json
with open('data/data_v4.json', 'w', encoding='utf-8') as fout:
    json.dump(obj= full_df,indent= 4,ensure_ascii=False, fp=fout)